/* This file is for your main application css. */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/nprogress/nprogress.css";

body {
  background-color: #343a40;
  color: #fff;
}

/* Don't show alert if content is empty */
.alert:empty {
  display: none;
}

.text-warning {
  color: #ffed4a !important;
}

.table {
  color: #fff;
}
